@model FastFood.Models.KhachHang

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <style>
        .form {
            align-content:center;
            width: 250px;
            height: 400px;
            background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50% );
            position:absolute;
            top: 70px;
            left: 600px;
            border-radius: 10px;
            padding: 25px;  
        }

            .form h2 {
                width: 220px;
                font-family: sans-serif;
                text-align: center;
                color: #ff7200;
                font-size: 22px;
                background-color: #fff;
                border-radius: 10px;
                margin: 2px;
                padding: 8px;
            }

            .the {
                width: 250px;
                height: 35px;
                background: transparent;
                border-bottom: 1px solid #ff7200;
                border-top: none;
                border-right: none;
                border-left: none;
                color: #fff;
                font-size: 15px;
                letter-spacing: 1px;
                margin-top: 30px;
                font-family: sans-serif;
            }

                .form input:focus {
                    outline: none;
                }

        ::placeholder {
            color: #fff;
            font-family: Arial;
        }

        .btn1 {
            width: 240px;
            height: 40px;
            background: #ff7200;
            border: none;
            margin-top: 30px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            color: #fff;
            transition: 0.4s ease;
        }

            .btn1:hover{
                background: #fff;
                color: #ff7200;
            }

            .btn1 a{
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }

        .form .link {
            font-family: Arial;
            font-size: 17px;
            padding-top: 20px;
            text-align: center;
        }

            .form .link a {
                text-decoration: none;
                color: #ff7200;
            }
            p {
                color:#fff;
            }

    </style>
</head>
<body>
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="form">
        <h2>Fast food</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>Email</p>
             @Html.TextBox("Email")>
        </div>
        <br />
        <div class="form-group">
            <p>Mật khẩu</p>
              @Html.Password("MatKhau")
        </div>
        <button type="submit" class="btn1">Login</button>
        <p class="link">
            Chưa có tài khoản?<br>
            Đăng ký <a href=@Url.Action("Register","User")>tại đây</a>
        </p>
    </div>
    }
    @ViewBag.Loi

</body>
</html>