@model IEnumerable<FastFood.Models.Cart>

@{
    ViewBag.Title = "ListCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListCart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)

    {
        Session["SesTotal"] = Convert.ToInt32(@ViewBag.TotalPrice);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                <img src=@Url.Content("../Template/assets/img/gallery/" + item.AnhSP) class="img-fluid rounded-3 h-100" alt="" width="300" height="280" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @using (Html.BeginForm("Edit", "Cart"))
                {
                    <input type="hidden" value="@item.MaSP" name="id"/>
                    <input type="number" value="@item.SoLuong" name="SoLuong"/>
                    <input type="submit" value="Sửa"/>

                }
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.MaSP }) |*@
                @Html.ActionLink("Xóa khỏi giỏ hàng", "Delete", new { id = item.MaSP })
            </td>
        </tr>
    }
    
    <tr>
        <td colspan="2">Số lượng sản phẩm: @ViewBag.CountProduct </td>
        <td colspan="2"> Thành tiền: @String.Format("{0:0.00}", ViewBag.TotalPrice)</td>
        <td colspan="2">@Html.ActionLink("Thanh toán", "PaymentWithPaypal", "Payment")</td>
    </tr>
</table>
